<!DOCTYPE html>
<html>

<head>
  <script>
  if (location.protocol !== 'https:') {
      location.replace(`https:${location.href.substring(location.protocol.length)}`);
  }
  </script>
  <meta name="viewport" content="initial-scale=0.7" />
  <link rel="stylesheet" href="https://curtana.glitch.me/static/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://curtana.glitch.me/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://curtana.glitch.me/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://curtana.glitch.me/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://curtana.glitch.me/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="https://curtana.glitch.me/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="https://curtana.glitch.me/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ea4335">
  <meta name="msapplication-config" content="https://curtana.glitch.me/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  {%block head%}{%endblock%}
  <title>{%block title%}{%endblock%} - Realme6Series</title>
</head>
<body style="color: white;">
  {%block body%}{%endblock%}
</body>

</html>
